// main: main.less
@import "flex.less";
@import "mixins.less";
@import "variables.less";
.gayathri {
	.gayathri;
	.showcase-item {
		width: 100%;
	}
	.item1 {
		width: 100%;
		margin: 0;
		padding: 9em 0;
		background-color: #4686a0;
		color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed, fixed, fixed;
		background:linear-gradient(135deg, #74276c 0%,#c53364 100%);
		background-position: top left, center center, center center;
		background-size: auto, cover, cover;
		overflow: hidden;
		position: relative;
		text-align: center;
		h1 {
			font-size: 5em;
			font-weight: 100;
		}
		h2 {
			font-size: 1.5em;
			font-weight: 400;
		}
		p {
			font-size: 1.5em;
			font-weight: 100;
		}
	}
	.item2 {
		background: #FFEEEE;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #FFEEEE , #DDEFBB);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #FFEEEE , #DDEFBB);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		article {
			width: 50%;
			margin: 10% auto;
			padding: 20px 10px;
			text-rendering: optimizeLegibility;
			border-top: 1px solid @pomegranate;
			border-bottom: 1px solid @pomegranate;
			font-size: 6em;
			text-align: center;
			.thin {
				font-weight: 100;
			}
			.bold {
				font-weight: 700;
			}
			.regular {
				font-weight: 400;
			}
		}
	}
	.item3{
		background: #ECE9E6;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		article {
			width: 80%;
			height: 90%;
			margin: auto;
			padding-top: 20px;
			text-rendering: optimizeLegibility;
			h1 {
				font-size: 2.4em;
				font-weight: 700;
				padding: 10px 20px 0;
				margin: 10px 20px 0 10px;
			}
			.author {
				color: #555;
				font-size: 1.2em;
				padding: 0 30px;
			}
			.blurb {
				background-color: @silver;
				border-left: 10px solid @asbestos;
				p {
					font-size: 1.2em;
					font-weight: 100;
					padding: 20px;
					line-height: 1.4em;
					text-align: justify;
					color: @dark-gray;
				}
			}
			.main {
				p {
					font-size: 1.2em;
					font-weight: 400;
					padding: 20px;
					text-align: justify;
					line-height: 1.2em;
					color: @dark-gray;
					-moz-column-count: 2;
					-moz-column-gap: 2em;
					-webkit-column-count: 2;
					-webkit-column-gap: 2em;
					column-count: 2;
					column-gap: 2em;
				}
			}
		}
	}
	.item5 {
		background: #16222A;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #16222A , #3A6073);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #16222A , #3A6073);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		article {
			width: 60%;
			margin: auto;
			padding-top: 10%;
			text-rendering: optimizeLegibility;
			color: @white;
			h1 {
				font-size: 2.4em;
				font-weight: 100;
				padding: 10px 20px 0;
				margin: 10px 20px 0 0;
			}
			p {
				font-size: 1.2em;
				font-weight: 400;
				padding: 20px;
				text-align: justify;
				line-height: 1.4em;
				color: @white;
			}
			.lesson {
				font-size: 1.4em;
				font-weight: 800;
				text-align: center;
				color: @white;
			}
		}
	}
}
@media (max-width: 48em) {
	.manjari {
		.item4 {
			div {
				font-size: 50vh;
				text-align: center;
				color: @dark-gray;
			}
		}
		.item5 {
			article {
				.main {
					p {
						column-count: 1;
					}
				}
			}
		}
	}
}
